.float-top {
    padding-top: 50px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    padding-left: 5%;
}

.wrapper > .inner {
    
}

@media screen and (min-width: 480px)
main.css:2659
.wrapper > .inner {
    width: 55%;
    align-content: center;
}

@media screen and (max-width: 480px)
main.css:2659
.wrapper > .inner {
    width: 100%;
    align-content: center;
}