.float-top {
    padding-top: 50px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    padding-left: 5%;
}

.wrapper > .inner {
    width: 55%;
}

